@tailwind base;
@tailwind components;
@tailwind utilities;

.copilotKitInput > textarea {
  font-size: 16px !important;
}

.copilotKitHeader {
  background-color: rgb(0, 0, 0) !important;
}

.copilotKitUserMessage {
  background-color: rgb(0, 0, 0) !important;
}

.copilotKitButton {
  background-color: rgb(0, 0, 0) !important;
}
